body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #E0E0E0;
}

nav ul {
  background-color: #004D31;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;

}
nav li{
  float: left;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 24px 36px;
  float: right;
  
}

.file-upload-div{
  background-color: #022E70;
  margin: 30px 80px;
  height: 350px;
  padding: 30px 100px;
  border-radius: 20px;
}
.file-upload-div p{
  color: white;
}
.file-upload-div form{
  display: flex;
  gap:200px
}
.file-upload-div button{
  border-radius: 8px;
  width: 200px;
  border: none;
  background-color: #2CBC55;
}
.file-upload{
  background-color: #A9A9A9;
  padding: 15px;
  width: 16%;
  border-radius: 8px;
}
.Select-column{
  margin-top: 30px;
}

.Select-column input{
  margin-top: 30px;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 8px;
  background-color: #DD4848;
  color: white;
}
.Select-column select{
  padding: 20px;
  display: block;
  color: white;
  background-color:#2CBC55;
  border-radius:  8px;
  border: none;

}
.Statistics{
  margin: 0px 80px ;
}
.Stats-flex{
  display: flex;
  gap: 200px;
}

.pi-chart{
  background-color: white;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pieChart {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.histogram{
  background-color: white;
  width: 500px;
  height: 400px;
  border-radius: 20px;
}
.Data-info{
  margin: 30px 80px;
  height: 80px;
  width: 300px;
  padding: 20px 100px;
  border-radius: 20px;
  background-color: #022E70;
  color: white;
  align-items: center;
  display: grid;
  gap: 10px;
}

.Sel-Imputation{
  margin: 30px 80px;
  height: 200px;
  padding: 30px 100px;
  border-radius: 20px;
  background-color: #022E70;
  color: white;
}

.Sel-Imputation input{
  width: 200px;

}

.Com-Imputation{
  margin: 30px 80px;
  height: 300px;
  padding: 30px 100px;
  border-radius: 20px;
  background-color: #022E70;
  color: white;
}
.Compare{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.Compare select{
  padding: 20px;
  display: block;
  color: white;
  background-color:#2CBC55;
  border-radius:  8px;
  border: none;
}
.Com-Imputation input{
  margin-top: 30px;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 8px;
  background-color: #DD4848;
  color: white;
}